[package]
name = "aoc-2025-day-1"
description.workspace = true
edition.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
# Will I be able to keep it empty today? Who knows!

[lints]
workspace = true