[package]
name = "aoc-2025-runner"
description.workspace = true
edition.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]

[lints]
workspace = true
